.navbar {
  background-color: rgb(247, 189, 82);
  position: sticky;
  top: 0;
  padding: 15px 20px;
}
.navbar_container{
    max-width: 80%;
    margin: auto;
    display: flex;
    align-items: center;

}
.nav_right > ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}